html  {font-size: 16px;}

@media only screen and (max-width: 560px) {
  html      {font-size: 15px;}
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-family: 'Open Sans', sans-serif;
}

input:focus {outline: none;}

h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	color: #31333f;
}
a{
	text-decoration: none;
	color: #00d666;
	transition: all .2s ease;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.dark-filter{
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	background: #31333f;
	opacity: .7;
	z-index: 0;
}